body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background: #f6f9f5;
}

.form-section {
  padding: 4rem 1rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: #fff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.subtitle {
  text-align: center;
  margin-bottom: 2rem;
  color: #2a8802;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

input,
select,
textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 0.5rem;
}

label {
  font-weight: bold;
  color: #2c3e50;
}

.submit-btn {
  background-color: #2c3e50;
  color: white;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #4d6c4b;
}

.line-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #00c300;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.line-btn:hover {
  background-color: #009f00;
}

.center {
      text-align: center;
    }

.Facebook-btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: #019afa;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.Facebook-btn:hover {
  background-color: #0441f7;
}
.responsive-img {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
}


.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #127410;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #276397;
}