body {
  font-family: 'Kanit', sans-serif;
  background-color: #f9f9f7;
  margin: 0;
  padding: 0;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #127410;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  transition: background-color 0.3s ease;
  margin-left: 1rem;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

.back-button:hover {
  background-color: #276397;
}

.single-image {
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.single-image img {
  max-width: 100%;
  width: auto;
  height: 700px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.title {
  text-align: center;
  font-size: 30px;
  color: #1a0a00;
  margin-bottom: 4rem;
  user-select: none;
}

.image-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 4rem;
}

.image-grid img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

@media (min-width: 640px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 640px) {
  .back-button {
    padding: 0.4rem 0.8rem;
    font-size: 14px;
  }
}

.image {
  text-align: center;
  margin-bottom: 10px;
}

.image img {
  max-width: 100%;
  width: 100%;
  height: 700px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* เพิ่มเอฟเฟกต์ Hover */
.image-grid img:hover,
.image img:hover,
.single-image img:hover {
  transform: scale(1.03);
  filter: brightness(1.1);
}
